@font-face {
    font-family: "HelveticaNeueUltraLightCondensed";
    src: url("../fonts/HelveticaNeue-UltraLigCond.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeueUltraLightCondensedOblique";
    src: url("../fonts/HelveticaNeue-UltraLigCondObl.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeueUltraLight";
    src: url("../fonts/HelveticaNeue-UltraLight.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeueUltraLightItalic";
    src: url("../fonts/HelveticaNeue-UltraLightItal.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeueUltraLightExtended";
    src: url("../fonts/HelveticaNeue-UltraLigExt.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeueUltraLightExtendedOblique";
    src: url("../fonts/HelveticaNeue-UltraLigExtObl.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "HelveticaNeueUltraLight";
    font-weight: normal;
    font-size: 16px;
    height: 100vh;
    overflow: hidden;
}
.content {
    text-align: center;
    padding-top: 8em;
}
#left-sidebar-toggle {
    position: absolute;
    top: 1em;
    left: 1em;
}
.menu-icon {
    cursor: pointer;
    width: 2.3em;
    height: .3em;
    border-radius: 3px;
    background-color: #333;
    margin: 22px 12px 12px 12px;
    float: left;
    position: relative;
}
.menu-icon::after,.menu-icon::before {
    position: absolute;
    left: 0;
    content: '';
    height: .3em;
    width: 2.3em;
    border-radius: 3px;
    background-color: #333; 
}
.menu-icon::after {
    top: .7em;
    background-color: inherit;
}
.menu-icon::before {
    top: -.7em;
    background-color: inherit;
}
.close-icon {
    cursor: pointer;
    width: 2em;
    height: 2em;
    margin: 12px;
    float: right;
    position: relative;
}
.close-icon::before, .close-icon::after {
    position: absolute;
    left: 0;
    top: 1.5em;
    content: '';
    height: .3em;
    width: 2em;
    border-radius: 3px;
    background-color: #333;
}
.close-icon:before {
    transform: rotate(45deg);
}
.close-icon:after {
    transform: rotate(-45deg);
}
.time {
    font-size: 10vw;
}
.date {
    font-size: 2vw;
}
.coords {
    display:none;
}
/* settings */
.left-sidebar {
    color: #333;
    position: absolute;
    top: 0;
    border-right: 1px solid #666;
    height: 100vh;
    width: 35em;
    background-color: rgba(255,255,255,.8);
    z-index: 10;
    transition: left .3s;
    overflow: scroll;
}
.left-sidebar form {
    padding-bottom: 4em;
}
.left-sidebar.show {   
    left: 0;
}
.left-sidebar.hide {
    left: -35em;
}
.pref {
    margin: 0 12px;
}
.pref:last-child::after {
    display: none;
}
.pref::after {
    content: "";
    display: block;
    height: 1px;
    margin: 2.5em 0;
    width: 100%;
    background: #000;
}
.header {
    margin: 1em 0;
    font-weight: bold;
    font-size: 1em;
}
.pref label {
    margin-right: 1em;
}
input[type="text"] {
    border: 2px solid #666;
    padding: 4px 10px;
    font-size: 1em;
    border-radius: 10px;
}
input[type="radio"] {
    height: 1.1em;
    width: 1.1em;
}
.pref input[type=color] {
    height: 3em;
    width: 12em;
}
.title {
    margin: .5em 12px;
    font-weight: bold;
    font-size: 2.5em;
}
.note {
    font-size: .8em;
    margin: .5em .2em;
}
/* Weather */
.weather {
    padding: 1.5em 1vw 2em 1vw;
    margin: 1em 0;
}
.weather .forecast {
    justify-content: space-evenly;
    padding: 0 7vw;
    display: flex;
}
.content .weather .forecast .day {
    font-size: 2vw;
    transition: opacity 1s;
}
.content .weather .forecast .day.hide {
    opacity: 0;
}
.content .weather .forecast .day:nth-of-type(1).show {
    opacity: 1;
}
.content .weather .forecast .day:nth-of-type(2).show {
    transition-delay: .1s;
    opacity: 1;
}
.content .weather .forecast .day:nth-of-type(3).show {
    transition-delay: .2s;
    opacity: 1;
}
.content .weather .forecast .day:nth-of-type(4).show {
    transition-delay: .3s;
    opacity: 1;
}
.content .weather .forecast .day:nth-of-type(5).show {
    transition-delay: .4s;
    opacity: 1;
}
.weather .forecast .day .mintemp::after {
    content: "\00B0";
}
.weather .forecast .day .maxtemp::after {
    white-space: pre;
    content: "\00B0  /";
}
.currentTemp {
    margin-top: .5em;
}
.currentTemp::after {
    content: "\00B0";
}
.content .weather .forecast .day .wi {
    font-size: 4vw;
    margin-bottom: .2em;
}
.content .location {
    margin-top: 1vw;
    font-size: 2vw;
    transition: opacity 1s;
}
.content .location.hide {
    opacity: 0;
}
.content .location.show {
    transition-delay: .5s;
    opacity: 1;
}
/* Loading Icon */
.loading {
    opacity: 0;
}
.loading-bar {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 .2em;
  border-radius: 1em;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  animation-delay: 0s;
}
.loading-bar:nth-child(2) {
  animation-delay: .1s;
}
.loading-bar:nth-child(3) {
  animation-delay: .2s;
}
.loading-bar:nth-child(4) {
  animation-delay: .3s;
}
.loading-bar:nth-child(5) {
  animation-delay: .4s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1, 3);
  }
  40% {
    transform: scale(1);
  }
}