@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSans-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSans-Light.ttf");
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSans-Semibold.ttf");
    font-weight: normal; 
    font-style: normal;
}
body {
    font-family: "OpenSansRegular";
    font-weight: normal;
    font-size: 14px;
}
body.dark {
    color: #333;
}
body.light {
    color: #EEE;
}
.content {
    text-align: center;
    padding-top: 2em;
}
#left-sidebar-toggle {
    position: absolute;
    top: 1em;
    left: 1em;
}
.menu-icon {
    cursor: pointer;
    width: 3em;
    height: .4em;
    border-radius: 3px;
    background-color: #333;
    margin: 22px 12px 12px 12px;
    float: left;
    position: relative;
}
.menu-icon::after,.menu-icon::before {
    position: absolute;
    left: 0;
    content: '';
    height: .4em;
    width: 3em;
    border-radius: 3px;
    background-color: #555; 
}
body.light .menu-icon,body.light .menu-icon::before,body.light .menu-icon::after {
    background-color: #EEE;
}
body.dark .menu-icon,body.dark .menu-icon::before,body.dark .menu-icon::after {
    background-color: #333;
}
.menu-icon::after {
    top: 1em;
}
.menu-icon::before {
    top: -1em;
}
.close-icon {
    cursor: pointer;
    width: 3em;
    height: 3em;
    margin: 12px;
    float: right;
    position: relative;
}
.close-icon::before, .close-icon::after {
    position: absolute;
    left: 0;
    top: 1.5em;
    content: '';
    height: .3em;
    width: 3em;
    border-radius: 3px;
    background-color: #333;
}
.close-icon:before {
    transform: rotate(45deg);
}
.close-icon:after {
    transform: rotate(-45deg);
}
body.dark .close-icon::before, body.dark .close-icon::after {
    background-color: #333;
}
body.light .close-icon::before, body.light .close-icon::after {
    background-color: #EEE;
}
.time {
    font-size: 12vw;
    font-family: "OpenSansLight"
}
.date {
    font-size: 2vw;
}
.coords {
    display:none;
}
/* Settings */
.left-sidebar {
    position: absolute;
    top: 0;
    border-right: 1px solid #666;
    min-height: 100vh;
    padding-bottom: 4em;
    width: 35em;
    background-color: rgba(255,255,255,1);
    z-index: 10;
    transition: left .3s;
}
.left-sidebar.show {   
    left: 0;
}
.left-sidebar.hide {
    left: -35em;
}
.pref {
    margin: 0 12px;
}
.pref:last-child::after {
    display: none;
}
.pref::after {
    content: "";
    display: block;
    height: 1px;
    margin: 2.5em 0;
    width: 100%;
    background: #000;
}
.header {
    margin: 1em 0;
    font-family: "OpenSansBold";
    font-size: 1em;
}
.pref label {
    margin-right: 1em;
}
input[type="text"] {
    border: 2px solid #666;
    padding: 4px 10px;
    font-size: 1em;
    border-radius: 10px;
}
input[type="radio"] {
    height: 1.1em;
    width: 1.1em;
}
.pref input[type=color] {
    height: 3em;
    width: 12em;
}
.title {
    margin: .5em 12px;
    font-family: "OpenSansBold";
    font-size: 2.5em;
}
.note {
    font-size: .8em;
    margin: .5em .2em;
}
/* Weather */
.weather {
    padding: 2em 1vw;
    margin: 1em 0;
}
.weather .forecast {
    display: none;
    justify-content: space-evenly;
    padding: 0 5vw;
}
.weather .forecast .day {
    font-size: 2vw;
}
.weather .forecast .day .maxtemp::after {
    content: " /"
}
body.dark .weather .forecast .day .mintemp {
    color: #666;
}
body.light .weather .forecast .day .mintemp {
    color: #555;
}
.content .weather .forecast .day .wi {
    font-size: 9vw;
    margin-bottom: .2em;
}
.content .location {
    margin-top: 1vw;
    font-size: 4vw;
}
/* Loading Icon */
.loading {
    display: none;
}
.loading-bar {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 .2em;
  border-radius: 1em;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar.dark {
    background-color: #333;
}
.loading-bar.light{
    background-color: #EEE;
}
.loading-bar:nth-child(1) {
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  animation-delay: .1s;
}
.loading-bar:nth-child(3) {
  animation-delay: .2s;
}
.loading-bar:nth-child(4) {
  animation-delay: .3s;
}
.loading-bar:nth-child(5) {
  animation-delay: .4s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1, 3);
  }
  40% {
    transform: scale(1);
  }
}