@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSans-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSans-Light.ttf");
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSans-Semibold.ttf");
    font-weight: normal; 
    font-style: normal;
}
body {
    font-family: "OpenSansRegular";
    font-weight: normal;
}
.content {
    text-align: center;
}
.time {
    font-size: 12vw;
    font-family: "OpenSansLight"
}
.date {
    font-size: 2vw;
}
.coords {
    display:none;
}